@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #080808;
}

#sampleList:hover #sampleOptions {
  display: block;
}

#background {
  display: absolute;
  z-index: -20;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}